<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cajr.mapper.NewsLogsMapper">
  <resultMap id="BaseResultMap" type="com.cajr.vo.news.NewsLogs">
    <!--@mbg.generated-->
    <!--@Table news_logs-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="news_id" jdbcType="INTEGER" property="newsId" />
    <result column="view_time" jdbcType="TIMESTAMP" property="viewTime" />
    <result column="prefer_degree" jdbcType="TINYINT" property="preferDegree" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="created_at" jdbcType="TIMESTAMP" property="createdAt" />
    <result column="updated_at" jdbcType="TIMESTAMP" property="updatedAt" />

    <association property="news" javaType="com.cajr.vo.news.News" column="news_id" select="com.cajr.mapper.NewsMapper.selectByPrimaryKey"/>
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, user_id, news_id, view_time, prefer_degree, `status`, created_at, updated_at
  </sql>

  <select id="findAll"  resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from news_logs
    where status = 1
  </select>

  <select id="findNumByNewsId" resultType="integer">
    SELECT count(id) FROM news_logs WHERE news_id = #{newsId,jdbcType=INTEGER} and status = 1
  </select>

  <select id="checkExistByUserIdAndNewsId"  resultType="integer">
    select exists (SELECT 1 FROM news_logs WHERE user_id = #{param1} and news_id = #{param2,jdbcType=INTEGER} and status = 1 LIMIT 1)
  </select>

  <select id="findAllByUserId" parameterType="int" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from news_logs
    where status = 1 and user_id = #{userId,jdbcType=INTEGER}
  </select>

  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from news_logs
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from news_logs
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.cajr.vo.news.NewsLogs" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into news_logs (user_id, news_id, view_time, 
      prefer_degree, `status`, created_at, 
      updated_at)
    values (#{userId,jdbcType=INTEGER}, #{newsId,jdbcType=INTEGER}, #{viewTime,jdbcType=TIMESTAMP},
      #{preferDegree,jdbcType=TINYINT}, #{status,jdbcType=TINYINT}, #{createdAt,jdbcType=TIMESTAMP}, 
      #{updatedAt,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.cajr.vo.news.NewsLogs" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into news_logs
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        user_id,
      </if>
      <if test="newsId != null">
        news_id,
      </if>
      <if test="viewTime != null">
        view_time,
      </if>
      prefer_degree,
      `status`,
      <if test="createdAt != null">
        created_at,
      </if>
      <if test="updatedAt != null">
        updated_at,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="newsId != null">
        #{newsId,jdbcType=INTEGER},
      </if>
      <if test="viewTime != null">
        #{viewTime,jdbcType=TIMESTAMP},
      </if>
      #{preferDegree,jdbcType=TINYINT},
      #{status,jdbcType=TINYINT},
      <if test="createdAt != null">
        #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null">
        #{updatedAt,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cajr.vo.news.NewsLogs">
    <!--@mbg.generated-->
    update news_logs
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="newsId != null">
        news_id = #{newsId,jdbcType=INTEGER},
      </if>
      <if test="viewTime != null">
        view_time = #{viewTime,jdbcType=TIMESTAMP},
      </if>
      <if test="preferDegree != null">
        prefer_degree = #{preferDegree,jdbcType=TINYINT},
      </if>
      <if test="status != null">
        `status` = #{status,jdbcType=TINYINT},
      </if>
      <if test="createdAt != null">
        created_at = #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null">
        updated_at = #{updatedAt,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cajr.vo.news.NewsLogs">
    <!--@mbg.generated-->
    update news_logs
    set user_id = #{userId,jdbcType=INTEGER},
      news_id = #{newsId,jdbcType=INTEGER},
      view_time = #{viewTime,jdbcType=TIMESTAMP},
      prefer_degree = #{preferDegree,jdbcType=TINYINT},
      `status` = #{status,jdbcType=TINYINT},
      created_at = #{createdAt,jdbcType=TIMESTAMP},
      updated_at = #{updatedAt,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>